# Dependencies
node_modules/
**/node_modules/

# Build Output
dist/
**/dist/
build/

# Environment Variables & Secrets
.env
.env.local
.env.*.local
**/.env
**/.env.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
**/auth-debug.log

# Prisma generated outputs
Backend/generated/prisma

# Operating System Files
.DS_Store
Thumbs.db

# IDE & Editor Directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
